<div class="header">
	<a><img (click)="gotoHome()" src="assets/images/logo3.png" alt="ixTutor.net" width=70 /></a>
	<a style="color:pink" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
	<span *ngIf="authenticationService.isLoggedIn()">{{authenticationService.getEmail()}}</span>
	<span *ngIf="authenticationService.isLoggedIn()">
		<button md-raised-button (click)="newCourse()">+ New Course</button>
		<button md-raised-button class="btn btn-success" (click)="gotoProfile()">Profile</button>
		<button md-raised-button class="btn btn-warning" (click)="logout()">Logout</button>
	</span>

	<span *ngIf="!authenticationService.isLoggedIn()">
		<button (click)="gotoLogin()" class="btn btn-primary">Login</button>
		<button (click)="gotoSignup()" class="btn btn-primary">Sign up</button>
	</span>

	<a style="color:pink" routerLink="/feedback" routerLinkActive="active">Write to us</a>
</div>