<div class="container" *ngIf="!isCourseCreationComplete">
	<h1>Author a new course</h1>
	<form>
		<div class="form-group">
			<label for="name">Title</label>
			<input [(ngModel)]="courseMeta.title" placeholder="e.g. Python basics" (ngModelChange)="revalidateForm()" type="text" class="form-control"
				name="name" required>
		</div>
		<div class="form-group">
			<label for="title">One line description</label>
			<input placeholder="e.g. A beginner's course to Python" [(ngModel)]="courseMeta.oneLineDescription" (ngModelChange)="revalidateForm()"
				type="text" class="form-control" name="title" required>
		</div>
		<div class="form-group">
			<label for="category">Category</label>
			<select [(ngModel)]="courseMeta.category" name="category" class="form-control" id="category">
    		<option>ProgrammingLanguage</option>
    		<option>Other</option>
  		</select>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea [(ngModel)]="courseMeta.description" placeholder="Detailed description including course overview, syllabus etc."
				(ngModelChange)="revalidateForm()" type="text" class="form-control" name="description" required></textarea>
		</div>
	</form>
	<div class="alert alert-danger" *ngFor="let error of errors">
		{{error}}
	</div>
	<button (click)="tryCourseCreation()" class="btn btn-default">Create course</button>
</div>