.secondary-header {
    background-color: #F5F5F5;
    color: white;
    box-shadow: 0px 0px 3px gray;
}

.instruction-panel {
    min-height: 100%;
    border: none;
}

.instructions {
    white-space: pre-wrap;
    border: none;
    background-color: white;
    margin-top: 5px;
    padding: 20px;
}
.course-container {
    width: 100%;
    min-height: 100%;
    background-color: white;
}

.input {
    height:50%;
}

.input-textarea {
    min-height: 100%;
    width: 96%;
    background-color: white;
    margin:2%;
    color: black;
    border: none;
}

.input-container {
     color: black;
     background-color: #F5F5F5;
     min-height: 50%;
     box-shadow: 0px 0px 3px gray;
}

.output-container {
     background-color: #F5F5F5;
     color: black;
     min-height:50%;
}

.output-pre {
     padding: 10px;
     border: none;
     white-space: pre-wrap;
}

.btn-custom {
    background: transparent;
    color: gray;
}

.btn-custom:hover {
    background: #efeded;
    color: black;
}

.dropdown-item-text {
    color: black;
}

.dropdown-menu {
    background-color: #efeded;
}

.scores, .exercise, .answer {
    padding: 5px;
}