<div *ngIf="course" class="secondary-header" style="width:100%">

    <!-- course dropdown -->
    <div class="btn-group" dropdown>
        <button id="course-dropdown-button" type="button" class="btn btn-custom" data-toggle="dropdown" [disabled]="disabled">
            <strong>Chapter |</strong> {{chapter.meta.title}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="course-dropdown-button">
            <li *ngFor="let chapter of course.chapters" role="menuitem"><a (click)="loadChapter(chapter)" class="dropdown-item dropdown-item-text">{{chapter.meta.title}}</a></li>
        </ul>
    </div>

    <!-- section dropdown -->
    <div class="btn-group dropdown">
        <button id="section-dropdown-button" type="button" class="btn btn-custom" data-toggle="dropdown" [disabled]="disabled">
            <strong>Section |</strong> {{section.title}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="section-dropdown-button">
            <li *ngFor="let section of chapter.sections" role="menuitem"><a (click)="loadSection(section)" class="dropdown-item dropdown-item-text">{{section.title}}</a></li>
        </ul>
        <small><a *ngIf="authenticationService.isLoggedIn() && isCourseEditor(course)" (click)="editSection(section)">Edit this section</a></small>
    </div>
</div>

<div *ngIf="course" class="container course-container">
    <div class="row">
        <!-- instructions box -->
        <div class="col-md-8 instruction-panel">
            <div>
                <pre [innerHTML]="getInstructionText()" class="instructions"></pre>
            </div>
        </div>
        <div class="col-md-4 input-container">
            <!-- input box -->
            <div class="row scores">
                Your score: {{getUserScore()}} | Score required: 3
                <button *ngIf="isCompleted" (click)="gotoNextSection()" class="btn btn-success" style="margin:5px">Next</button>
            </div>
            <div class="row exercise" *ngFor="let exercise of getSection().exercises">
                <b>Q.</b> {{exercise.question}}
                <div class="radio" *ngFor="let option of exercise.options; let i = index">
                    <label><input (click)="evaluateExercise(exercise, i)" type="radio" name="optradio-{{exercise.id}}"> {{option}}</label>
                </div>
            </div>
            <div class="row answer">
            </div>
        </div>
    </div>
</div>